---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/stylesheets/output.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body class="bg-teal-700">
    {% include header.html %}

    <main id="listaItem" tipoData="hqs">
        {% include divItemCarregando.html %}
    </main>

    <template id="templateDiv">
        {% include divItem.html %}
    </template>

    {% include scriptsGerais.html %}
</body>

</html>