---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/stylesheets/output.css" rel="stylesheet" type="text/css">
    <title>Página inicial</title>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
</head>
<body class="bg-teal-700">
    {% include header.html %}
    {% include divAdd.html %}

    <div class="flex flex-row justify-center  mx-18 my-10 p-5 bg-teal-50 min-w-2/3 min-h-80 rounded-2xl border-b-8 border-teal-800 shadow-2xl wrap-break-word">
        <div>
            <p class="font-vend-sans text-3xl font-extrabold text-teal-800">Seja bem-vindo ao SEBOZO - o melhor dentre os piores sebos de São Paulo e região!</p>
            <p class="text-lg font-comfortaa">Navegue pelas nossas coleções, ou <a href="criacaoItem.html" class="underline underline-offset-1 hover:text-teal-500"">adicione itens!</a></p>
            <img src="../public/images/SEBOZO.png" alt="SEBOZO" class="m-auto p-5">

            <span class="text-gray-800 text-center">Caso ainda não tenha lido a descrição desse projeto, <a class="text-md mx-auto underline underline-offset-1 hover:text-teal-500" href="https://github.com/Mateus-SR/DevWebII-Projeto-CRUD-Login/blob/main/README.md">clique aqui</a> para ler!</span>
        </div>
    </div>

    {% include scriptsGerais.html %}
</body>
</html>