---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/stylesheets/output.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body class="bg-teal-700">
    <div class="mx-auto my-10 bg-white max-w-1/2 min-h-fit rounded-2xl shadow-2xl" id="divItem_">
        <div class="relative justify-between px-5 py-2.5">
    
            <div class="flex flex-col border-gray-700 border-3 max-w-full min-h-1/2 my-5 p-5 rounded-lg shadow-2xl">
                <span class="font-vend-sans text-2xl font-extrabold">
                    Olá, seja bem-vindo(a)!!
                </span>
                <br>
                <span class="font-comfortaa text-lg ml-5">
                    [Placeholder text]
                </span>
            </div>
        </div>
    </div>

    {% include scriptsGerais.html %}
</body>
</html>