<div class="mx-18 my-10 bg-white min-w-1/2 min-h-60 rounded-2xl shadow-2xl" id="divItem_">
    <div class="relative justify-between md:grid md:grid-cols-3 px-5 py-2.5 gap-3">

        <div class="divFotoItem justify-self-center max-w-72 md:max-w-96 min-h-80 my-5 rounded-lg flex mx-auto justify-center items-center self-center">
            <img src="../public/images/itens/hq/mangá/Volume_28.jpg" alt="" class="fotoItem p-1 rounded-lg object-scale-down border-gray-700 border-3 shadow-2xl">
        </div>

        <div class="col-span-2 border-gray-700 border-3 min-w-fit min-h-fit my-5 p-5 rounded-lg shadow-2xl">
            <span class="font-vend-sans text-2xl font-extrabold">
                [Placeholder title]
            </span>
            <br>
            <span class="font-comfortaa text-lg ml-5">
                [Placeholder text]
            </span>
        </div>
    </div>
</div>