<div class="mx-auto my-10 bg-teal-50 w-full max-w-xl md:max-w-4/5 md:min-w-1/2 min-h-60 rounded-2xl border-b-8 border-teal-800 shadow-2xl" id="divItem_">
    <div class="relative justify-between md:grid md:grid-cols-3 px-5 py-2.5 gap-3">

        <div
            class="divFotoItem justify-self-center max-w-60 md:max-w-96 min-h-80 my-5 rounded-lg flex mx-auto justify-center items-center self-center">
            <img src="../public/images/itens/hq/mangá/Volume_28.jpg" alt=""
                class="fotoItem p-1 rounded-lg object-scale-down border-gray-700 border-3 shadow-2xl">
        </div>

        <div class="col-span-2 border-gray-700 border-3 w-full min-h-fit my-5 p-5 rounded-lg shadow-2xl">
            <div class="flex flex-col justify-center text-center items-center flex-wrap content-center-safe border-x-8 border-y-2 border-teal-950 p-2.5 rounded-xl text-shadow-lg/20 gap-1 bg-teal-700">
                <span
                    class="divTitulo font-vend-sans text-white text-2xl md:text-4xl font-extrabold inline-block wrap-break-word ">
                    [Placeholder title]
                </span>
                <span
                    class="divTituloAlt font-vend-sans text-white text-md md:text-lg font-bold italic inline-block wrap-break-word whitespace-pre-line">
                    [Placeholder alternative title]
                </span>
            </div>
            <span
                class="divDescricao font-comfortaa text-md md:text-lg ml-5 block wrap-break-word whitespace-pre-line mt-3.5">
                [Placeholder text]
            </span>
        </div>
    </div>
</div>