<header class="flex px-2.5 justify-between items-center w-full min-h-12 h-fit bg-teal-200 text-center text-xl font-vend-sans 
            md:grid md:grid-cols-5 md:place-items-center">

    <div class="col-span-1 p-2.5 h-full flex items-center justify-start hover:bg-teal-400 transition-all duration-300 cursor-pointer hover:animate-bump">
        <img class="max-h-18 animate-FadeInOut logo" src="../public/images/SEBOSO simples.png" alt="Seboso - O melhor dentre os piores sebos de São Paulo">
    </div>

    <div class="col-span-3 md:flex items-center justify-center hidden md:visible h-full">
        
        <a href="livros.html" class="flex items-center justify-center h-full p-5 hover:bg-teal-400 transition-all duration-300 hover:animate-bump">
            Livros
        </a>

        <a href="hqs.html" class="flex items-center justify-center h-full p-5 hover:bg-teal-400 transition-all duration-300 hover:animate-bump">
            HQs e Mangás
        </a>

        <a href="cds.html" class="flex items-center justify-center h-full p-5 hover:bg-teal-400 transition-all duration-300 hover:animate-bump">
            CDs
        </a>

        <a href="dvds.html" class="flex items-center justify-center h-full p-5 hover:bg-teal-400 transition-all duration-300 hover:animate-bump">
            DVDs
        </a>

        <a href="autores.html" class="flex items-center justify-center h-full p-5 hover:bg-teal-400 transition-all duration-300 hover:animate-bump">
            Autores
        </a>
    </div>

    <div class="col-span-1 h-full flex items-center justify-end">
        <a id="botaoConta" href="#" class="flex items-center justify-center h-full p-5 hover:bg-teal-400 transition-all duration-300 hover:animate-bump">
            ...
        </a>
    </div>
</header>